- if user_signed_in?
  .row
    %aside.col-md-9
      %section.user_info
        = render 'shared/user_info'

- else
  .center.jumbotron
    %h1 勤怠システム
    %h2 アカウントの作成はこちらから。
    = link_to "アカウントの登録", new_user_registration_url, class: "btn btn-lg btn-primary"